# Laravel Backend
APP_NAME=BITEMAP
APP_ENV=local
APP_KEY=base64:49Tu9TFEezqKOKcymfWXaexNq8gfwpUSdwWFYp6FYQE=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=bitemap_db
DB_USERNAME=bitemap
DB_PASSWORD=BitemapDev2026!

# MariaDB (docker image variables)
MARIADB_ROOT_PASSWORD=BitemapRoot2026!
MARIADB_DATABASE=bitemap_db
MARIADB_USER=bitemap
MARIADB_PASSWORD=BitemapDev2026!

SESSION_DRIVER=database
SESSION_LIFETIME=120
QUEUE_CONNECTION=database
CACHE_STORE=database

# Frontend
VITE_APP_NAME=BITEMAP
VITE_API_BASE_URL=http://localhost:8000/api
